*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.choice{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    opacity: 50%;
    cursor: pointer;
}

img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-size: 2rem;
    margin-top: 3rem;
}

.msg-container{
    margin-top: 5rem;
}

#msg{
    padding: 1rem;
    border-radius: 1rem;
    background-color: black;
    color: white;
    font-size: 2rem;
    display: inline-block;
}
